/* Start of CSS resets */

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	transition-property: all;
	transition-timing-function: linear;
	transition-duration: 50ms;
}

html {
	scroll-behavior: smooth
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
	color: inherit;
}

h1,
h2,
h3,
h4,
p,
a,
input,
input::placeholder {
	color: inherit;
}

body {
	font-family: poppins;
	height: 100vh;
}

h1 {
	font-size: 32px;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-size: 1.125rem; /* 18px */ 
	font-weight: 500;
	line-height: 1.75rem ; /* 28px */
}

@media (min-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

@media (min-width: 1080px) {
	h1 {
		font-size: 52px;
	}
}

/* End of CSS resets */

/* Start of app-container */

#app-container {
	height: 100vh;
	
}

@media (min-width: 768px) {
	#app-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 1080px) {
	#app-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

/* End of app-container */



/* Start of header */

.header {
	align-items: center;
	backdrop-filter: blur;
	border-bottom: 2px solid rgb(236 72 153);
	left: 0;
	padding-left: 1rem; /* 16px */
	padding-right: 1rem; /* 16px */
	position: fixed;
	opacity: 50;
	top: 0;
	z-index: 50;
}

/* End of header */
